{% extends "base.html" %}

{% block content %}

<!-- favorite movies  -->
{% if favMovieList %}

<h1>Favorite Movies</h1>

<ol>
    {% for movie in favMovieList %}
    <form action="/show-fav-movie" method="GET">
        <li>{{movie.title}}</li>
        <!-- <li>{{movie.tmdb_id}}</li> -->
        <!-- <li>{{movie.id}}</li> -->
        <input type="hidden" name="id" value="{{movie.tmdb_id}}">
        <button type="submit">More Info</button>
    </form>

    <form action="/delete_movie" method="GET">
        <input type="hidden" name="id" value="{{movie.tmdb_id}}">
        <button type="submit">delete movie</button>
    </form>
    {% endfor %}
</ol>

{% else %}

<h2>Sorry, your database is empty </h2>

{% endif %}
{% endblock %}