{% extends "base.html" %}

{% block content %}

<h1>Movie App</h1>

<a href="/favorites"><button>favorite Movies</button></a>

<h2>Select a movie</h2>

<ol>
    {% for movie in movies %}
    <form action="/get-movie" method="GET">
        <li>{{movie.title}}</li>
        <!-- <li>{{movie.id}}</li> -->
        <input type="hidden" name="id" value="{{movie.id}}">
        <input type="hidden" name="year" value="{{movie.year}}">
        <input type="hidden" name="title" value="{{movie.title}}">
        <button type="submit">More Info</button>
    </form>
    {% endfor %}
</ol>

{% endblock %}