{% extends "base.html" %}

{% block content %}

<h1>Movie App</h1>

<h2>Enter a movie title:</h2>

<ol>
    {% for movie in movies %}


    <form action="/get-movie" method="GET">
    <li>{{movie.title}} {{ movie.year }}  {{ movie.tmdb_id }}</li>   

    <input type="hidden" name="id" value="{{movie.tmdb_id}}">
    <input type="hidden" name="year" value="{{movie.year}}">
    <input type="hidden" name="title" value="{{movie.title}}">

    <button type="submit">More info</button>
    </form>

    {% endfor %}
</ol>




    
    <!-- <select name="title">
        {% for movie in movieTitles %}
        <option value="{{movie}}">{{movie}}</option>   
        {% endfor %}
    </select>
    <button type="submit" value="GO">Submit</button>
     -->
<!-- </form> -->

{% endblock %}