
{% extends "base.html" %}

{% block content %}
<div>
<a href="/"><button>Home</button></a>
<a href="/favorites"><button>Favorite Movies</button></a>
</div>

<h1>More Information About Your Movie</h1>
{% if new_movie_call %}

<form action="/add-to-favs" method="GET">
    <input type="hidden" name="tmdb_id" value="{{movie_object.tmdb_id}}">
    <input type="hidden" name="title" value="{{movie_object.title}}">
    <input type="hidden" name="date" value="{{movie_object.release_date}}">
    <button type="submit" id="btn">Add to favorites</button>
    
</form>

{% endif %}

<!-- movie poster  -->
{% if movie_object.poster_img %}
<br>
<img alt="{{movie_object.youtube_video_title}} poster" src="{{movie_object.poster_img}}">

{% else %}

<h2>Sorry, no poster image</h2>

{% endif %}


<!-- Movie info  -->



<h2>Movie Details</h2>

{% if movie_object.director %}

<p>Director: {{movie_object.director}}</p>

{% else %}

<h2>No director info available at this time</h2>

{% endif %}

<p>Released: {{movie_object.release_date}}</p>

{% if movie_object.actor_1 %}

<p>Starring: {{movie_object.actor_1}}, {{movie_object.actor_2}}</p>

{% else %}

<h2>No actor info available at this time</h2>

{% endif %}

{% if movie_object.genre %}

<p>Genre: {{movie_object.genre}}</p>

{% else %}

<h2>No genre info available at this time</h2>

{% endif %}

{% if movie_object.rating %}

<p>Rated: {{movie_object.rating}}</p>

{% else %}

<h2>No movie rating info available at this time</h2>

{% endif %}

{% if movie_object.plot_summary %}

<p>Plot: {{movie_object.plot_summary}}</p>

{% else %}

<h2>No plot summary available at this time</h2>

{% endif %}


<!-- Trailer -->

{% if movie_object.youtube_id %}

<h2>{{ movie_object.youtube_video_title }}</h2>

<iframe width="420" height="315" src="https://www.youtube.com/embed/{{movie_object.youtube_id}}"></iframe>

{% else %} 

<h2>Sorry, no movie trailer available</h2>

{% endif %}

{% if new_movie_call %}
<div>
<form action="/add-to-favs" method="GET">
    <input type="hidden" name="tmdb_id" value="{{movie_object.tmdb_id}}">
    <input type="hidden" name="title" value="{{movie_object.title}}">
    <input type="hidden" name="date" value="{{movie_object.release_date}}">
    <button type="submit" id="btn">Add to favorites</button>
</form>
</div>
{% endif %}

<br>

{% endblock %}
